<form class="form form-horizontal" name="passwordResetForm" novalidate>
    <fieldset>
        <div class="form-group">
            <label class="control-label col-sm-4" for="password">Password</label>
            <div class="col-sm-8">
                <input type="password" name="password" id="password" ng-model="password" ng-minlength="8" ng-maxlength="18" required autofocus strongpassword class="form-control"/>
                <!--<span class="error" ng-show="passwordResetForm.password.$error.required">Required!</span>-->
                <span style="font-weight:normal; color:#F52A59;" class="error" ng-show="passwordResetForm.password.$error.minlength">Password must be at least 8 characters long.</span>
                <span class="error" ng-show="passwordResetForm.password.$error.maxlength">Max password length is 18 characters.</span>
                <span style="font-weight:normal; color:#F52A59;" class="error" ng-show="passwordResetForm.password.$error.strongpassword">The password is weak. <a class="link" ng-click="viewDetails()">Details</a></span></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" for="password_confirm">Confirm Password</label>
            <div class="col-sm-8">
                <input type="password" name="password_confirm" id="password_confirm" ng-model="passwordConfirm" equalsto="password" required  class="form-control"/>
                <span class="help-block error" ng-show="passwordResetForm.password_confirm.$error.equal">Passwords are not equal</span>
                <br/>
                <button ng-model="showPassword" id="show_password" ng-click="showPassword=!showPassword" class="btn btn-sm" title="Show password">
                    <i class="icon-radio-active" ng-hide="showPassword"></i>
                    <i class="icon-radio" ng-show="showPassword"></i>
                </button>
                <span ng-show="showPassword">{{ "{{ password }}" }}</span>
            </div>
        </div>

        <div class="alert alert-danger" ng-repeat="message in errorMessages">
            {{ '{{message}}' }}
        </div>
        <div class="alert alert-success" ng-repeat="message in messages">
            {{ '{{message}}' }}
        </div>

    </fieldset>
</form>
<style type="text/css">
    .form input.ng-invalid.ng-dirty {
        background-color: #ffecec;
    }

    .form input.ng-valid.ng-dirty {
        background-color: rgb(222, 254, 224);
    }
</style>
