<span class="icon-close close modal-dialog-close" data-dismiss="modal" ng-click="$dismiss('cancel')"></span>
<div class="modal-header">
    <h1 class="modal-title" id="myModalLabel">Attention</h1>
</div>
<div class="modal-body">
    Your password doesn't correspond security policies. Please <a class="link" href="/users/{{ u.email }}/password">set a new password.</a>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$close('ok')">Dismiss</button>
</div>