
<div class="row">
    <div class="col-sm-12">

        <ul class="nav nav-tabs" style="margin-bottom: 5px">

            <li class="{% if section == 'matching' %}active{% endif %}"><a href="/test">Matching</a></li>
            {% if user.is_staff %}
                <li class="{% if section == 'filtering' %}active{% endif %}"><a href="/test/filtering">Filtering</a></li>
                <li class="{% if parent  == 'playground' %}active{% endif %}"><a href="/test/playground">Playground</a></li>
            {% endif %}
        </ul>
    </div>
</div>


