/* dashboard styles */
.dashboard-widget-area {
  min-height: 200px;
  background-color: #e6ebf1;
}
/* widget styles */
.widget-container {
  float: left;
  display: inline-block;
  background-color: #fdfdfd;
  border: 1px solid #e6ebf1;
  box-sizing: border-box;
}
.widget {
  padding: 0 0px 0px 0px !important;
  background-color: white;
  position: relative;
}
.widget-controls {
  position: relative;
  height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 16px;
}
.widget-anchor {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.widget-drag-button {
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
}
.widget-title {
  margin: 0 24px;
  padding-top: 1px;
  border-top: 2px solid #444A52;
  color: #444A52;
  height: 60px !important;
}
.widget-name-text {
  font-weight: 700;
  font-size: 11px;
}
.widget-title-text {
  font-size: 18px;
}
.widget-action {
  float: right;
  padding-right: 25px;
}
.widget-content {
  height: auto !important;
  width: auto !important;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
}
.widget-title .label {
  display: inline-block;
  vertical-align: middle;
}
.widget-title .fonticon {
  cursor: pointer;
  opacity: 0.5;
  margin-left: 5px;
}
.widget-title .glyphicon:hover {
  opacity: 1;
}
.widget-title .widget-title {
  vertical-align: middle;
}
.widget-alert-success {
  color: #444a52;
  background-color: #FFFEE7;
  border-color: #FFFBD3;
}
/* layout styles */
.tabs-item {
  -webkit-transition-property: max-width, margin-right, margin-top;
  transition-property: max-width, margin-right, margin-top;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.tabs-item.active .tabs-icon {
  color: #444a52;
}
.tabs-icon {
  margin: -2px 5px 0 -8px;
  padding: 0;
  border-radius: 100px;
  float: left;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}
.tabs-add-button {
  font-size: 18px !important;
  width: 41px !important;
  padding-top: 0px !important;
}
.tabs-title {
  display: inline-block;
  width: 85px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tabs-popover-button {
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 15px;
}

/**
 * gridster.js - v0.2.1 - 2013-10-28 * http://gridster.net
 * Copyright (c) 2013 ducksboard; Licensed MIT
 */
.gridster {
  position: relative;
  margin: auto;
  height: 0;
}
.gridster-content > ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.gridster-loaded {
  -webkit-transition: height .3s;
  -moz-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;
}
.gridster-loaded .gridster-item {
  display: block;
  position: absolute;
  -webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
  -moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
  -o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
  transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
}
.gridster-mobile {
  height: auto !important;
}
.gridster-mobile .gridster-item {
  height: auto;
  position: static;
  float: none;
}
.gridster-preview-holder {
  display: none;
  z-index: 1;
  position: absolute;
  background-color: #ddd;
  border-color: #fff;
  opacity: 0.2;
}
.gridster-item.gridster-item-moving,
.gridster-item.gridster-preview-holder {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.gridster-item.ng-leave.ng-leave-active {
  opacity: 0;
}
.gridster-item.ng-enter {
  opacity: 1;
}
.gridster-item-moving {
  z-index: 4;
}
.gridster-item-moving-dropdown-open {
  z-index: 3;
}
/* RESIZE */
.gridster-item-resizable-handler {
  position: absolute;
  font-size: 1px;
  display: block;
}
.handle-se {
  cursor: se-resize;
  width: 0;
  height: 0;
  right: 1px;
  bottom: 1px;
  border-style: solid;
  border-width: 0 0 12px 12px;
  border-color: transparent;
}
.handle-ne {
  cursor: ne-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  top: 1px;
}
.handle-nw {
  cursor: nw-resize;
  width: 12px;
  height: 12px;
  left: 1px;
  top: 1px;
}
.handle-sw {
  cursor: sw-resize;
  width: 12px;
  height: 12px;
  left: 1px;
  bottom: 1px;
}
.handle-e {
  cursor: e-resize;
  width: 12px;
  bottom: 0;
  right: 1px;
  top: 0;
}
.handle-s {
  cursor: s-resize;
  height: 12px;
  right: 0;
  bottom: 1px;
  left: 0;
}
.handle-n {
  cursor: n-resize;
  height: 12px;
  right: 0;
  top: 1px;
  left: 0;
}
.handle-w {
  cursor: w-resize;
  width: 12px;
  left: 1px;
  top: 0;
  bottom: 0;
}
.gridster .gridster-item:hover .gridster-box {
  border: 1.5px solid #B3B2B3;
}
.gridster .gridster-item:hover .handle-se {
  border-color: transparent transparent #ccc;
}

/* nav tab control style */
.nav-tabs-collapse {
  position: absolute;
  top: 1px;
  right: 14px;
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}
.nav-tabs-layout.active {
  background-color: transparent !important;
  color: #000 !important;
}
.nav-tabs-layout.active .nav-tabs-dropdown {
  color: #000 !important;
}
.nav-tabs-layout.active .nav-tabs-dropdown:focus,
.nav-tabs-layout.active .nav-tabs-dropdown:hover {
  color: #2e69db !important;
}
.nav-tabs-dropdown {
  width: 24px;
  color: #fff;
  background-color: transparent !important;
}
.nav-tabs-dropdown:focus,
.nav-tabs-dropdown:hover {
  color: #fff;
}
.nav-tabs-dropdown-menu > li {
  text-align: left;
}
.nav-tabs-dropdown-menu > li > a .icon {
  display: inline-block;
  width: 30px;
  font-size: 16px;
}
.nav-tabs-dropdown-menu > li > a {
  font-size: 12px;
}
.dropdown-menu-pull-left:before {
  position: absolute;
  top: -8px;
  left: 5px;
  display: block;
  float: none;
  width: 0;
  content: '';
  border-color: #fdfdfd transparent;
  border-color-bottom: none;
  border-style: solid;
  border-width: 0 9px 9px;
  z-index: 1;
}
.dropdown-menu-pull-left:after {
  position: absolute;
  top: -8px;
  left: 5px;
  display: block;
  float: none;
  width: 0;
  content: '';
  border-color: #000 transparent;
  border-color-bottom: none;
  border-style: solid;
  border-width: 0 9px 9px;
  z-index: 0;
}
.widget-controls .nav-tabs-dropdown {
  color: #999 !important;
  padding: 0;
  font-size: 12px;
}
.widget-controls .nav-tabs-dropdown:hover,
.widget-controls .nav-tabs-dropdown:focus {
  background-color: transparent !important;
}
.widget-controls .nav-tabs-dropdown-menu {
  top: 121% !important;
  left: -3px;
}
.dropdown-menu-pull-right {
  float: right;
  right: 0;
  left: auto !important;
}
.dropdown-menu-pull-right:before {
  position: absolute;
  top: -8px;
  right: 5px;
  display: block;
  float: none;
  width: 0;
  content: '';
  border-color: #000 transparent;
  border-color-bottom: none;
  border-style: solid;
  border-width: 0 9px 9px;
  z-index: 0;
}
.dropdown-menu-pull-right:after {
  position: absolute;
  top: -8px;
  right: 5px;
  display: block;
  float: none;
  width: 0;
  content: '';
  border-color: #fdfdfd transparent;
  border-color-bottom: none;
  border-style: solid;
  border-width: 0 9px 9px;
  z-index: 1;
}

.scrtabs-tab-container {
  height: 41px;
  background-color: #5e99ff;
  border-bottom: 1px solid #e3e9ef;
}
.scrtabs-tab-container * {
  box-sizing: border-box;
}
.scrtabs-tabs-fixed-container {
  float: left;
  height: 350px;
  overflow: hidden;
  width: 100%;
}
.scrtabs-tabs-fixed-container ul.nav-tabs {
  height: 41px;
}
.scrtabs-tabs-fixed-container ul.nav-tabs > li {
  white-space: nowrap;
}
@media (max-width: 768px) {
  .scrtabs-tabs-fixed-container {
    position: absolute;
    left: 16px;
  }
}
.scrtabs-tabs-movable-container {
  position: relative;
}
.scrtabs-tab-scroll-arrow {
  background: -webkit-linear-gradient(#5081e1, #4375d6);
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(#5081e1, #4375d6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5081e1, #4375d6);
  /* Standard syntax */
  color: #fdfdfd;
  cursor: pointer;
  position: relative;
  z-index: 10;
  font-size: 18px;
  height: 40px;
  width: 16px;
}
.scrtabs-tab-scroll-arrow:hover {
  color: #eeeeee;
}
.scrtabs-js-tab-scroll-arrow-left {
  float: left;
  box-shadow: 1px 0px 1px -1px rgba(0, 0, 0, 0.4);
}
.scrtabs-js-tab-scroll-arrow-right {
  position: absolute;
  top: 40px;
  right: 41px;
  float: right;
  box-shadow: -1px 0px 1px -1px rgba(0, 0, 0, 0.6);
}
.scr-arrow-left {
  position: absolute;
  padding-left: 4px;
  padding-top: 2px;
}
.scr-arrow-right {
  position: absolute;
  padding-left: 4px;
  padding-top: 2px;
}
.sortable-placeholder {
  background-color: #9CBFFF;
  width: 140px;
  height: 36px;
  margin-top: 4px;
  margin-right: 4px;
}
.fixed-add-button {
  background: -webkit-linear-gradient(#5081e1, #4375d6);
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(#5081e1, #4375d6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5081e1, #4375d6);
  /* Standard syntax */
  position: fixed !important;
  right: 0;
  margin-right: 0 !important;
  margin-top: 0 !important;
  height: 40px !important;
}
