<div class="col-xs-12">
  <div>
    <div>
      <h3>Metric: <span style="font-weight: normal;margin-left: 5px;">{{selectedMetric.metric}}</span></h3>
    </div>
    <select class="form-control"
            ng-show="metrics.length > 1"
            style="margin-top: 15px;"
            ng-change="exclude(selectedMetric)"
            ng-model="selectedMetric"
            ng-options="m as m.metric for m in metrics">
    </select>

    <div style="margin-top: 15px;">
      <h3>Report Title</h3>
      <input type="text" ng-model="reportName" class="form-control">
    </div>

    <div style="margin-top: 15px;">
      <h3>
        <span ng-if="flags.showLabels">Select Labels</span>
        <span ng-if="flags.showSlider">Select Range</span>
      </h3>

      <h5 ng-show="flags.showSlider" style="margin-top: 15px;margin-bottom: 20px;">{{resultMetric}}</h5>
      <slider ng-model="sliderValue"
              style="padding: 15px 0"
              ng-if="selectedMetric && flags.showSlider"
              on-stop-slide="updateBuckets(sliderValue)"
              min="selectedMetric.metric_values_range[0]"
              max="selectedMetric.metric_values_range[1]"
              step="selectedMetric.step"
              slider-tooltip="always"range="true"></slider>
      <label class="checkbox" style="font-weight: normal;padding-left: 15px;" ng-show="flags.showLabels"
             ng-repeat="label in labels">
        <input type="checkbox" class="ark-checkbox" ng-model="label.checked"/><span></span> {{label.name}}
      </label>
      <div ng-if="flags.showConversionSelection">
        <div>
          <span>Funnel: </span><span style="font-weight: bold">{{funnelData.funnel_name}}</span>
        </div>
        <div ng-if="funnelData.stage_name != 'N/A'">
          <span>Stage Name: </span><span style="font-weight: bold">{{funnelData.stage_name}}</span>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 15px;" ng-show="flags.showPathsSelection">
    <div ng-repeat="node in selectedNodes">
      <strong>Stage:</strong> <span ng-bind="node.stage"></span>;
      <strong>Step:</strong> <span ng-bind="node.step"></span>
    </div>
  </div>

  <div style="margin-top: 15px;">
    <button class="btn btn-default" ng-click="stop()" ng-disabled="!analyzing">Stop Analysis</button>
    <button class="btn btn-primary" ng-click="analyze()">Run Analysis</button>
  </div>
  <hr/>
  <div style="position:relative;" ng-show="builtReports.length">
    <h3 style="margin-top: 0">Recent Reports</h3>
    <div ng-show="builtReports.length" style="margin-top: 15px;">
      <div class="report-card" ng-repeat="r in builtReports" ng-hide="$index > (showLimit - 1)" ng-click="openReportPage(r.id)">
        <h5>
          <span class="fonticon icon-doc-report-b"></span>&nbsp;&nbsp;
          <span>{{r.title}}</span>
        </h5>
        <div style="padding-left: 15px;">
          <span class="small-body" style="color: #8A8A8A">
            {{ r.created_at | date:'MMM d, y HH:mm a' }}&nbsp;&#8226;&nbsp;{{r.analyzed_metric | toTitleCase}}
          </span>
          <hr style="margin: 5px 0;"/>
          <span class="small-body" style="color: #8A8A8A">
            <span>{{r.metric_values.join(', ').toString()}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="spinner-container" style="margin:auto;" ng-show="analyzing">
    <div class="spin-circle"></div>
    <div class="spin-inner-circle"></div>
  </div>
</div>