<span class="icon-close close modal-dialog-close" data-dismiss="modal" ng-click="$dismiss('cancel')"></span>
<div class="modal-header">
    <h1 class="modal-title" id="myModalLabel">Password Policies</h1>
</div>
<div class="modal-body">
    Your password should contain at least 8 characters from at least 3 of 4 character sets
    <ul>
        <li>lower case letters a..z</li>
        <li>upper case letters A..Z</li>
        <li>digits 0..9</li>
        <li>special characters _!@#$%^&*()-+{}[]</li>
    </ul>
    Examples:
    <ul>
        <li>asd@123D</li>
        <li>{3qweasd</li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$close('ok')">OK</button>
</div>