{% extends "base_login.html" %}

{% block body %}
<form action="/login"
      id="login"
      class="form-signin"
      method="POST"
      role="form"
      ng-controller="loginCtrl">
<div class="ark-login-fields">
    <input type="text" autofocus="true" value="" id="email" name="email" ng-disabled="!is_privacy" class="form-control ark-login-username" placeholder="Username" />
    <input type="password" value="" id="password" name="password" ng-disabled="!is_privacy" class="form-control ark-login-password" placeholder="Password" />
    <input type="hidden" name="hash_url" ng-value="hash_url" />
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="error-container">
    <span class="icon-alert-octo"> </span>
    {% for message in messages %}
    <div class="ark-login-error-messages">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="ark-login-button">
    <button type="submit"
            value="submit"
            class="btn btn-primary btn-block"
            ng-disabled="!is_privacy">Log In</button>
</div>
<p class="help-block"><a href="/passrestore" style="color:#2e69db">Forgot your password?</a></p>
<label class="checkbox">
    <input type="checkbox" class="ark-checkbox" ng-model="is_privacy"><span></span><a href="http://www.genesys.com/about-genesys/legal" target="_blank">Privacy Policy</a>
</label>
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}