{% extends "error_pages/base_error.html" %}
{% block body %}
<div>
	<p class="lead text-error"><strong>Sorry, you don't have permissions to access this page</strong></p><p class="lead muted">Most likely you tried to access a feature that is not available to your user account. If you feel this message is an error (i.e. you're trying a feature that should work) please send us an <a href="mailto:foo@solariat.com">email</a>. We'll try to fix that as quick as possible.</p>
	<p class="lead muted">If you're new to Genesys Social Analytics, or if you'd like a refresher on the product's capabilities, check out the content below or visit the <a href="/">Genesys Social Analytics home page.</a></p>
</div>
<div style="padding-left: 60px;">
	<ul>
  		<li><p class="lead"><a href="/">Link coming soon...</a></p></li>
  		<li><p class="lead"><a href="/">Link coming soon...</a></p></li>
  		<li><p class="lead"><a href="/">Link coming soon...</a></p></li>
	</ul>
</div>
{% endblock %}