<!DOCTYPE html>
<html>
<body>
    <p>Hello {{ full_name }},</p>
    <br/>
    <p>Your Genesys Customer Success Manager has taken the first step towards setting you up with an account on Genesys Social Analytics.</p>
    <br/>    
    <p>You may click <a href="{{ url }}">this link</a> to setup and analyze your Twitter activity. If clicking the link doesn’t work, please copy and paste the following URL to your browser  {{ url }}</p>
    <br/>
    <p>You'll see a form that asks you to populate some fields:</p>
    <br/>
    <p>Populating the correct keywords and phrases is important. Please study activity related to your organization on Twitter.com before choosing which keywords and phrases to use.</p>
    <br/>    
    <p>If you have further questions, please contact your Customer Success Manager.</p>
    <br/>
    <p>Yours sincerely,</p>
    <br/>
    <p>The Genesys Team</p>
</body>
</html>
