<html>
<body>
    <p>Hello {{ staff_user_name }},</p>
    <br/>
    <p>You should reach out to the person that setup the channel and outline the next steps necessary for setting them up for success.</p>
    <p>User name: {{ admin_user_name }}</p>
    <p>User email: {{ admin_user_email }}</p>
    <br/>
    <p><b>Channel configuration</b></p>
    <p>Keywords: {{ keywords }}</p>
    <p>Twitter Handle: {{ twitter_handle }}</p>
    <!--<p>Skipwords: {{ skipwords }}</p>-->
    <p><a href="{{ channel_link }}">Click to view the channel activity.</a></p>
    <br/>
</body>
</html>