<html>
<body>
    <p>Hello {{ user_name }},</p>
    <p>This message is being sent to let you know that your Genesys Social Analytics account has reached {{ percentage }} of the permitted volume of {{ volume }} posts per month.</p>
    <p>In order to adjust your plan to avoid overage charges you may want to reach out to your account manager immediately, or send an email to <a href="@mailto:GenesysSocialAnalyticsSupport@Genesys.com">GenesysSocialAnalyticsSupport@Genesys.com</a></p>
    <br/>
    <p>Thanks,<br>
        Genesys Social Analytics Team.</p>
    <br/>
</body>
</html>