<html>
<body>
    <p>Hello,</p>
    <br/>
    <p>Your Genesys Social Analytics login has been setup. By clicking <a href="{{ url }}">this link</a> you will be asked to reset your password. After resetting your password you will be free to use the application.</p>

    <p>If clicking the link doesn’t work, please copy and paste the following URL to your browser<p>
    <p>{{ url }}</p>
    <br/>

    <p>Please note</p>
    <p>The URL you will need use for future logins will be {{ app_url }}</p>
    <p>For help please go to https://docs.genesys.com/Documentation</p>

    <br/>
    <p>If you have further questions, please contact your Account Administrator</p>

    <br/>
    <p>Yours sincerely, </p>
    <p>The Genesys Team</p>

</body>
</html>