<html>
<body>
    <p>Hello,</p>
    <br/>
    <p>Your Twitter Channel {{ channel_name }} has completed the initial setup phase on Genesys Social Analytics. You may now monitor and analyze your Twitter data by clicking <a href="{{ url }}">this link</a> </p>
    <br/>
    <p>If clicking the link doesn’t work, please copy and paste the following URL to your browser
    {{ url }}</p>
    <br/>
    <p>Populating the correct keywords and phrases is important. Please study activity related to your organization on Twitter.com before choosing which keywords and phrases to use.Please note, only posts submitted after your Twitter channel has been switched on will be evident in your channel. It may take some time before meaningful volumes of posts are available for analysis.
</p>
    <br/>
    <p>If you have further questions, please contact your Customer Success Manager.</p>
    <br/>
    <p>Yours sincerely,</p>
    <p>The Genesys Team</p>
    <br/>
</body>
</html>