{% macro journey_type_stages_list() %}

<hr />

<div class="row form-group" style="margin-bottom: 20px;">
    <div class="col-md-4">
        {% if user.is_admin or user.is_staff %}
        <div class="pull-left">
            <a ng-click="stage.create()" class="btn btn-primary"
                my-tooltip="Add journey stage for this journey type">
                <span class="fonticon icon-add"></span> Add Journey Stage
            </a>

            <div class="pull-right btn-icon-group no-responsiveness" style="margin-left:10px">
                <button class="btn btn-default btn-icon" tooltip-placement="top" tooltip="Delete" ng-disabled="!selectedStages.length" ng-click="stage.removeStage()"><span class="icon-trash"></span></button>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="col-md-8">
        <search class="pull-right" filter="stage.filters.title" placeholder-text="Search by Name"></search>
    </div>
    {#
    <div class="col-md-4">
        <select class="form-control"
                ng-model="stage.filters.channel"
                tooltip-placement="top" tooltip="Refresh"
                ng-options="o.id as o.title for o in channels"
                ng-change="stage.refresh()">
        </select>
    </div>
    #}
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-default" ng-show="stage.items.length">
            <thead>
            <tr>
                <th style="width:47px;"></th>
                <th sorter="stage.table" data-predicate="display_name" data-title="Name">Name</th>
                <th sorter="stage.table" data-predicate="status" data-title="Status"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in stage.items | filter:stage.filterPredicate | orderBy: stage.table.sort.predicate: stage.table.sort.reverse">
                {% raw %}
                <td>
                    <label class="checkbox">
                        <input type="checkbox" class="ark-checkbox" ng-model="item.selected" ng-change="selectStage(item)"><span></span>
                    </label>
                </td>
                <td><a class="link" ng-href="{{ stage.editPath(item) }}">{{ item.display_name }}</a></td>
                <td>{{ item.status_text }}</td>
                {% endraw %}
            </tr>
            </tbody>
        </table>
        <div ng-show="!stage.items.length" class="alert alert-info text-center">
            <i class='icon-alert-triangle'></i> No Stages
        </div>
    </div>
</div>


{% endmacro %}